.git
.gitignore
node_modules
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.env
.env.*
docker/postgres
npm-debug.log
yarn-error.log
coverage
tests
documents
scripts
